<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo"></a>
<h3><a href="{{ site.url }}/about/">{{ site.owner.name }}</a></h3>
<p>{{ site.owner.bio }}</p>
{% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" class="author-social" target="_blank"><i class="icon-twitter"></i> Twitter</a>{% endif %}
{% if site.owner.linkedin %}<a href="http://linkedin.com/in/{{ site.owner.linkedin }}" class="author-social" target="_blank"><i class="icon-linkedin"></i> LinkedIn</a>{% endif %}
{% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" class="author-social" target="_blank"><i class="icon-github"></i> Github</a>{% endif %}
<br><br>
<hr>
<p style="text-align: center;"><a href="{{ site.url }}/pdfs/OpenGLInsights.pdf"><img style="text-align: center;" src="{{ site.url }}/images/scenejs/OpenGLInsights2.jpg"></a><br>
    <i>My chapter on <a href="http://scenejs.org">SceneJS</a> for OpenGL Insights is now free to download! <a href="{{ site.url }}/pdfs/OpenGLInsights.pdf">Grab it here.</a></i></p>
<hr>
<p style="text-align: center;"><a href=""><img style="text-align: center;" src="{{ site.url }}/images/human/webby.jpg"></a><br><br>
<!--<a href=""><img style="text-align: center;" src="{{ site.url }}/images/human/sxsw.png"></a><br><br>-->

<p style="text-align: center; text-indent: 0;"><a href="https://www.nytimes.com/2012/01/08/business/the-human-anatomy-animated-with-3-d-technology.html"><img style="text-align: center;" src="{{ site.url }}/images/human/logo-new-york-times.png"></a><br>
    "... the virtual body as the health equivalent of Google Maps."</p>
<br><br>
<p style="text-align: center; text-indent: 0;"><a href="https://abcnews.go.com/Health/virtual-reality-body-transforming-innovations/story?id=16134453"><img style="text-align: center;" src="{{ site.url }}/images/human/logo-abc-news.png"></a><br>
    "Think: Google Earth meets the human body."</p>
<br><br>
<p style="text-align: center; text-indent: 0;"><a href="https://www.wired.com/2012/04/biodigital-human/"><img style="text-align: center;" src="{{ site.url }}/images/human/logo-wired.png"></a><br>
    "A Digital Revolution for Studying Human Anatomy."</p>