<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    {% include head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}

{% include navigation.html %}

{% if page.image.feature %}
<div class="image-wrap">
    <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image"
         itemprop="primaryImageOfPage">
    {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{%
    endif %}
</div><!-- /.image-wrap -->{% endif %}

<div class="article-author-top">
    {% include portfolio-author-bio.html %}
</div>


<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">

    <h1>Testimonials</h1>
    <!--<article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">-->
    <!--<div class="row">-->
    <!--<div class="column left">-->
    <!--<img style="padding-top:10px; padding-bottom:15px;padding-right: 0; padding-left: 20px;"-->
    <!--src="{{ site.url }}/images/clientLogos/movetobim-200.jpg">-->
    <!--</div>-->
    <!--<div class="column right">-->
    <!--<p class="testimonial-quote">"It was enjoyable to see a continuous incoming stream of quality JavaScript-->
    <!--code coming our way. I recommend contracting with Lindsay without reservation."-->
    <!--<br><span class="testimonial-source">~<a-->
    <!--href="mailto:stephanmor@gmail.com">Stéphane Mor</a>, CEO, <a-->
    <!--href="http://bimdata.io">BIMData.io</a></span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</article>-->

    <p class="testimonial-quote">"It was enjoyable to see a continuous incoming stream of quality JavaScript
        code coming our way. I recommend contracting with Lindsay without reservation."
        <br><br><span class="testimonial-source">~<a href="mailto:stephanmor@gmail.com">Stéphane Mor</a>, CEO, <a
                href="http://bimdata.io">BIMData.io</a></span>
    <hr width="100%"/>
    <p class="testimonial-quote">"Great to work with. Deep knowledge of 3D graphics
        algorithms
        and software design patterns. Excellent research and algorithm-development
        skills. Has a knack for creating simple, usable interfaces for complex
        systems."<br><br><span class="testimonial-source">~<a href="mailto:tsherif@gmail.com">Tarek Sherif</a>, Lead Graphics Engineer at <a
                href="http://bioditalhuman.com">BioDigital Systems</a></span>
    <hr width="100%"/>
    <p class="testimonial-quote">"A talented and experienced 3D graphics developer. A pleasure to work with, reliable
        team contributor and always knowledgeable in the latest in 3D graphics"<br><br><span class="testimonial-source">~<a
                href="mailto:frank@biodigital.com">Frank Sculli</a>, CEO, <a href="http://bioditalhuman.com">BioDigital Systems</a></span>
    <hr width="100%"/>
    <p class="testimonial-quote">"Most impressed with Lindsay's dedication to the project. Has been a co-operative,
        conscientious and
        flexible team member, not only a skilled programmer but a pleasure to work with."<br><br><span
                class="testimonial-source">~Shayne Crimp, Director, <a
                href="https://www.linkedin.com/company/aiotec-limited/">Aiotec Limited</a></span>
    <hr width="100%"/>
    <p class="testimonial-quote">"Undertook the
        work conscientiously, producing a clean application that is proving to be easy to use and very reliable. No
        hesitation in recommending him."<br><br><span
                class="testimonial-source">~<a
                href="mailto:info@rawl.co.nz">Bob Ward</a>, Director, <a
                href="http://rawl.co.nz">R.A. Ward Software Control Systems</a></span></p>

    <hr width="100%"/>

    <!--{% include client-logos.html %}-->

</div><!-- /#index -->

<div class="footer-wrap">
    <footer>
        {% include footer.html %}
    </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}

</body>
</html>