<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    {% include head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}

{% include navigation.html %}

{% if page.image.feature %}
<div class="image-wrap">
    <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image"
         itemprop="primaryImageOfPage">
    {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{%
    endif %}
</div><!-- /.image-wrap -->{% endif %}

<div class="article-author-top">
    {% include author-bio.html %}
</div>


<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">

    <h1><a href="{{ site.url}}/clients">Portfolio</a></h1>

    <p>I've worked remotely with some really cool clients in the USA, Netherlands, France, Sweden and New Zealand,
        developing WebGL-based solutions for MedViz, BIM and CAD.<br><br>Here's a selection projects I've worked on,
        plus some open source libraries I created to support them.</p>

    <hr width="100%"/>

    {% include client-logos.html %}

    <hr width="100%"/>

    <br>

    {% for post in site.categories.portfolio %}

    <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

        {% unless post.first %}
        <hr width="100%"/>
        {% endunless %}

        <p style="font-style:italic; margin-bottom: 0px;">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d,
                %Y" }}
            </time>
        </p>

        {% if post.wip %}

        <h2 itemprop="headline">{{ post.title }}</h2>
        <div class="row">
            <div class="column left">
                <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html
                    | strip_newlines }}{% endif %}<br><br></p>
                {% if post.tech %}<p itemprop="text">{{ post.tech }}<br><br></p>{% endif %}
                <p itemprop="text">[&nbsp;<span style="font-weight: bold; color: #bd8341; font-style: italic;">UNDER CONSTRUCTION</span>&nbsp;]
                </p>
            </div>
            <div class="column right">
                <img style="padding-top:10px; padding-bottom:15px;padding-right: 0; padding-left: 20px;"
                     src="{{ site.url }}/images/{{ post.thumbnail }}">
            </div>
        </div>

        {% elsif post.website %}

        <h2 itemprop="headline"><a href="{{ post.website }}" rel="bookmark" title="{{ post.title }}">{{ post.title
            }}</a></h2>
        <div class="row">
            <div class="column left">
                <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html
                    | strip_newlines }}{% endif %}<br><br></p>
                {% if post.tech %}<p itemprop="text">{{ post.tech }}<br><br></p>{% endif %}
                <p itemprop="text">[&nbsp;<span style="font-weight: bold; font-style: italic;"><a
                        href="{{ post.website }}">VISIT WEBSITE &gt;&gt;</a></span>&nbsp;]</p>
            </div>
            <div class="column right">
                <a href="{{ post.website }}" rel="bookmark" title="{{ post.title }}">
                    <img style="padding-top:10px; padding-bottom:15px;padding-right: 0; padding-left: 20px;"
                         src="{{ site.url }}/images/{{ post.thumbnail }}">
                </a>
            </div>
        </div>

        {% else %}

        <h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{
            post.title }}</a></h2>
        <div class="row">
            <div class="column left">
                <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html
                    | strip_newlines }}{% endif %}
                    <br><br></p>
                {% if post.tech %}<p itemprop="text">{{ post.tech }}<br><br></p>{% endif %}
                <p itemprop="text">[&nbsp;<span style="font-weight: bold; font-style: italic;"><a
                        href="{{ site.url }}{{ post.url }}">READ MORE &gt;&gt;</a></span>&nbsp;]</p>
            </div>
            <div class="column right">
                <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                    <img style="padding-top:10px; padding-bottom:15px;padding-right: 0; padding-left: 20px;"
                         src="{{ site.url }}/images/{{ post.thumbnail }}">
                </a>
            </div>
        </div>
        {% endif %}

        <hr width="100%"/>
    </article>

    {% endfor %}

</div><!-- /#index -->

<div class="footer-wrap">
    <footer>
        {% include footer.html %}
    </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}

</body>
</html>