<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    {% include head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}

{% include navigation.html %}

{% if page.image.feature %}
<div class="image-wrap">
    <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image"
         itemprop="primaryImageOfPage">
    {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{%
    endif %}
</div><!-- /.image-wrap -->{% endif %}

<div class="article-author-top">
    {% include portfolio-author-bio.html %}
</div>


<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">

    <h1>Portfolio</h1>
    <h4>Highlights</h4>
    <!--<ul style="">-->
    <!--<li style="">Built the core WebGL rendering technology from scratch for the BioDigital Human anatomy-->
    <!--visualization-->
    <!--platform, which now serves over 4 million users-->
    <!--</li>-->
    <!--<li style="">Built two successful WebGL-based 3D IFC viewers</li>-->
    <!--<li style="">Developed two major open-source WebGL engines, including SceneJS, one of the first widely-used-->
    <!--WebGL-->
    <!--engines-->
    <!--</li>-->
    <!--<li style="">Contributing author on OpenGL Insights</li>-->
    <!--&lt;!&ndash;<li>Worked remotely with clients in the USA, Netherlands, France, Sweden and New Zealand</li>&ndash;&gt;-->
    <!--</ul>-->

    <ul>
        <li>3D Web Software Engineer</li>
        <li>Built the core WebGL rendering tech for <strong><a href="./biodigital-human">BioDigital Human</a></strong>, <strong><a href="https://www.openproject.org/">OpenProject</a></strong>, <strong><a href="./bimdata">BIMData</a></strong>, <strong><a href="https://www.planradar.com/de/">PlanRadar</a></strong>, <strong><a href="https://bimspot.io/">BIMSpot</a></strong>, <strong><a
                href="http://bimsurfer.org/">BIMSurfer</a></strong> and <strong><a href="./solidcomponents-viewer">SolidComponents</a></strong>
        </li>
        <li>Created open source 3D Web programming toolkits: <strong><a href="http://xeokit.io">xeokit</a></strong>, <strong><a href="http://xeogl.org">xeogl</a></strong> and <strong><a href="http://scenejs.org">SceneJS</a></strong>
        </li>
        <li>Contributing author on <strong><a href="http://openglinsights.com/">OpenGL Insights</a></strong></li>
    </ul>

    <!--<hr width="100%"/>-->

    <!--<h4>Clients</h4>-->

    <!--{% include client-logos.html %}-->

    <hr width="100%"/>

    <h4>Projects</h4>

    {% for post in site.categories.portfolio %}

    <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        {% unless post.first %}
        <hr width="100%"/>
        {% endunless %}

        <p style="font-style:italic; margin-bottom: 0px;">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d,
                %Y" }}
            </time>
        </p>
        {% if post.article %}
        <h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{
            post.title }}</a></h2>
        {% elsif post.website %}
        <h2 itemprop="headline"><a href="{{ post.website }}" rel="bookmark" title="{{ post.title }}">{{ post.title}}</a>
        </h2>
        {% endif %}
        <div class="row">
            <div class="column left">
                <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html
                    | strip_newlines }}{% endif %}</p>
                <ul style="padding-left:15px;">
                    {% if post.tech %}
                    <li><span>{{ post.tech }}</span></li>
                    {% endif %}
                    {% if post.location %}
                    <li><span style="">{{ post.location }}</span></li>
                    {% endif %}
                    {% if post.article %}
                    <li style="padding-bottom:10px;"><span style="font-weight: bold;"><a
                            href="{{ site.url }}{{ post.url }}">Read case study&nbsp;&gt;&gt;</a></span></li>

                    {% elsif post.website %}
                    <li><span style="font-weight: bold;"><a
                            href="{{ post.website }}">{{ post.websiteReadible }}</a></span></li>
                    {% endif %}
                </ul>
            </div>
            <div class="column right">
                {% if post.article %}
                <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                    <img style="padding-top:10px; padding-bottom:15px;padding-right: 0; padding-left: 20px;"
                         src="{{ site.url }}/images/{{ post.thumbnail }}">
                </a>
                {% elsif post.website %}
                <a href="{{ post.website }}" rel="bookmark" title="{{ post.title }}"><img
                        style="padding-top:10px; padding-bottom:15px;padding-right: 0; padding-left: 20px;"
                        src="{{ site.url }}/images/{{ post.thumbnail }}"></a>
                {% endif %}
            </div>
        </div>

        <hr width="100%"/>
    </article>

    {% endfor %}

    {% include client-logos.html %}

</div><!-- /#index -->

<div class="footer-wrap">
    <footer>
        {% include footer.html %}
    </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}

</body>
</html>