<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    {% include head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}

{% include navigation.html %}

{% if page.image.feature %}
<div class="image-wrap">
    <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image"
         itemprop="primaryImageOfPage">
    {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{%
    endif %}
</div><!-- /.image-wrap -->{% endif %}

<div class="article-author-top">
    {% include portfolio-author-bio.html %}
</div>


<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">

    <h1><a href="{{ site.url}}/clients">Portfolio</a></h1>
    <h4>Highlights</h4>
    <!--<ul style="">-->
    <!--<li style="">Built the core WebGL rendering technology from scratch for the BioDigital Human anatomy-->
    <!--visualization-->
    <!--platform, which now serves over 3 million users-->
    <!--</li>-->
    <!--<li style="">Built two successful WebGL-based 3D IFC viewers</li>-->
    <!--<li style="">Developed two major open-source WebGL engines, including SceneJS, one of the first widely-used-->
    <!--WebGL-->
    <!--engines-->
    <!--</li>-->
    <!--<li style="">Contributing author on OpenGL Insights</li>-->
    <!--&lt;!&ndash;<li>Worked remotely with clients in the USA, Netherlands, France, Sweden and New Zealand</li>&ndash;&gt;-->
    <!--</ul>-->

    <ul>
        <li>Software engineer specializing in WebGL-based 3D visualization</li>
        <li>Built the core WebGL rendering tech for the <strong><a href="./biodigital-human">BioDigital
            Human</a></strong> anatomy visualization platform, which now serves over 3 million users
        </li>
        <li>Developed the WebGL-based viewers within <strong><a href="./bimdata">BIMData.io</a></strong>, <strong><a
                href="http://bimsurfer.org/">BIMSurfer</a></strong> and <strong><a href="./solidcomponents-viewer">SolidComponents</a></strong>
        </li>
        <li>Created two open source WebGL libraries: <strong><a href="http://xeogl.org">xeogl</a></strong>, used within
            commercial BIM and CAD viewers, and <strong><a href="http://scenejs.org">SceneJS</a></strong>, one of the
            first widely-used WebGL libraries
        </li>
        <li>Contributing author on <strong><a href="http://openglinsights.com/">OpenGL Insights</a></strong></li>
    </ul>

    <!--<hr width="100%"/>-->

    <!--<h4>Clients</h4>-->

    <!--{% include client-logos.html %}-->

    <hr width="100%"/>

    <h4>Testimonials</h4>

    <p class="testimonial-quote">"It was enjoyable to see a continuous incoming stream of quality JavaScript
        code coming our way. I recommend contracting with Lindsay without reservation."
        <br><span class="testimonial-source">~<a href="mailto:stephanmor@gmail.com">Stéphane Mor</a>, CEO, <a
                href="http://bimdata.io">BIMData.io</a></span><br><br>"Great to work with. Deep knowledge of 3D graphics
        algorithms
        and software design patterns. Excellent research and algorithm-development
        skills. Has a knack for creating simple, usable interfaces for complex
        systems."<br><span class="testimonial-source">~<a href="mailto:tsherif@gmail.com">Tarek Sherif</a>, Lead Graphics Engineer at <a
                href="http://bioditalhuman.com">BioDigital Systems</a></span>
        <br><br>"A talented and experienced 3D graphics developer. A pleasure to work with, reliable
        team contributor and always knowledgeable in the latest in 3D graphics"<br><span class="testimonial-source">~<a
                href="mailto:frank@biodigital.com">Frank Sculli</a>, CEO, <a href="http://bioditalhuman.com">BioDigital Systems</a></span>
        <br><br>"Most impressed with Lindsay's dedication to the project. Has been a co-operative, conscientious and
        flexible team member, not only a skilled programmer but a pleasure to work with."<br><span
                class="testimonial-source">~Shayne Crimp, Director, <a
                href="https://www.linkedin.com/company/aiotec-limited/">Aiotec Limited</a></span></p>

    <hr width="100%"/>

    <h4>Projects</h4>

    {% for post in site.categories.portfolio %}

    <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        {% unless post.first %}
        <hr width="100%"/>
        {% endunless %}

        <p style="font-style:italic; margin-bottom: 0px;">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d,
                %Y" }}
            </time>
        </p>
        {% if post.article %}
        <h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{
            post.title }}</a></h2>
        {% elsif post.website %}
        <h2 itemprop="headline"><a href="{{ post.website }}" rel="bookmark" title="{{ post.title }}">{{ post.title}}</a>
        </h2>
        {% endif %}
        <div class="row">
            <div class="column left">
                <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html
                    | strip_newlines }}{% endif %}</p>
                <ul style="padding-left:15px;">
                    {% if post.tech %}
                    <li><span>{{ post.tech }}</span></li>
                    {% endif %}
                    {% if post.location %}
                    <li><span style="">{{ post.location }}</span></li>
                    {% endif %}
                    {% if post.article %}
                    <li style="padding-bottom:10px;"><span style="font-weight: bold;"><a
                            href="{{ site.url }}{{ post.url }}">Read case study&nbsp;&gt;&gt;</a></span></li>

                    {% elsif post.website %}
                    <li><span style="font-weight: bold;"><a
                            href="{{ post.website }}">{{ post.websiteReadible }}</a></span></li>
                    {% endif %}
                </ul>
            </div>
            <div class="column right">
                {% if post.article %}
                <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                    <img style="padding-top:10px; padding-bottom:15px;padding-right: 0; padding-left: 20px;"
                         src="{{ site.url }}/images/{{ post.thumbnail }}">
                </a>
                {% elsif post.website %}
                <a href="{{ post.website }}" rel="bookmark" title="{{ post.title }}"><img
                        style="padding-top:10px; padding-bottom:15px;padding-right: 0; padding-left: 20px;"
                        src="{{ site.url }}/images/{{ post.thumbnail }}"></a>
                {% endif %}
            </div>
        </div>

        <hr width="100%"/>
    </article>

    {% endfor %}

    {% include client-logos.html %}

</div><!-- /#index -->

<div class="footer-wrap">
    <footer>
        {% include footer.html %}
    </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}

</body>
</html>